<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description>C'est une servlet</description>
    <display-name>home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.fruit.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>C'est une servlet</description>
    <display-name>login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.fruit.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>C'est une servlet</description>
    <display-name>logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.fruit.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>HomeFilter</filter-name>
    <filter-class>com.fruit.filter.HomeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HomeFilter</filter-name>
    <url-pattern>/home</url-pattern>
  </filter-mapping>

	 <filter>
      <filter-name>GestionPages</filter-name>
    <filter-class>com.fruit.filter.GestionPageFilter</filter-class>
  </filter>

  
  <filter-mapping>
    <filter-name>GestionPages</filter-name>
    <url-pattern>/gestion</url-pattern>
  </filter-mapping>

	
  <filter>
      <filter-name>LoginFilter</filter-name>
    <filter-class>com.fruit.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>



  <filter>
      <filter-name>SinscrireFilter</filter-name>
    <filter-class>com.fruit.filter.SinscrireFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SinscrireFilter</filter-name>
    <url-pattern>/inscription</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
</web-app>